*{
  padding: 0;
  margin: 0;
}

.grid-container > *{
  background-color: crimson;
  padding: 20px 0;
}

.item1 {
    grid-area: header;
    padding: 40px;
    display: block;
    font-family: sans-serif;
    background-color: antiquewhite;
}

.logo{
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  display: inline-block;
  width: 70%;
  text-align: center;
}

.acciones {
  display: inline-block;
  width: 15%;
  text-align: right;
  font-size: 14px;
}

.acciones a{
  padding-right: 10px;
  color:#67b54b;
}

.acciones button{
  padding-right: 10px;
  background-color: #67b54b;
  color: white;
  border: 0;
  padding: 12px 14px 12px 14px;
  border-radius: 5px;
}

ul li{
  display: inline;
  padding-right: 55px;
  color: #025157;
}

.item3 {
  grid-area: main;
  padding-right: 60px;
  padding-left: 10px;
}

h1{
  font-size: 68px;
  margin-bottom: 20px;
  color: #025157;
}

.item3 > p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #46484c;
}

.free-trial{
  padding-top: 40px;
  vertical-align: middle;
}

.free-trial > button{
  font-size: 16px;
  color: white;
  background-color: #67b54b;
  padding: 15px 25px 15px 25px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}

.free-trial > p{
  color: #46484c;
  padding-top: 15px;
}

.item4 {
  grid-area: aside;
}

.item4 > img {
  margin-left: 90px;
  margin-right: 90px;
  width: 450px;
}

.item5 {
  grid-area: footer;
  padding: 40px;
  display: block;
  font-family: sans-serif;
  background-color: antiquewhite;
}

.logo-footer{
  display: inline-block;
}

.redes-footer{
  display: inline-block;
  width: 25%;
  text-align: center;
}

.capterra-footer{
  display: inline-block;
  width: 20%;
  text-align: center;
}

.derechos-footer{
  display: inline-block;
  width: 30%;
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header '
  'main main aside aside'
  'footer footer footer footer '
  ;
  gap: 10px;
  background-color: cornflowerblue;
  padding: 10px;
}