*{
  padding: 0;
  margin: 0;
}

.grid-container > *{
  background-color: white;
  padding: 20px 0;
}

.item1 {
    grid-area: header;
    padding: 40px;
    display: block;
    font-family: sans-serif;
}

.logo{
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  display: inline-block;
  width: 70%;
  text-align: center;
}

.acciones {
  display: inline-block;
  width: 15%;
  text-align: right;
  font-size: 14px;
}

.acciones a{
  padding-right: 10px;
  color:#67b54b;
}

.acciones button{
  padding-right: 10px;
  background-color: #67b54b;
  color: white;
  border: 0;
  padding: 12px 14px 12px 14px;
  border-radius: 5px;
}

ul li{
  display: inline;
  padding-right: 55px;
  color: #025157;
}

.item3 {
  grid-area: main;
  padding-right: 60px;
  padding-left: 10px;
}

h1{
  font-size: 68px;
  margin-bottom: 20px;
  color: #025157;
}

.item3 > p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #46484c;
}

.free-trial{
  padding-top: 40px;
  vertical-align: middle;
}

.free-trial > button{
  font-size: 16px;
  color: white;
  background-color: #67b54b;
  padding: 15px 25px 15px 25px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}

.free-trial > p{
  color: #7e7e7e;
  padding-top: 15px;
}

.item4 {
  grid-area: aside;
}

.item4 > img {
  margin-left: 90px;
  margin-right: 90px;
  width: 450px;
}

.item6 {
  grid-area: content;
}

.titMarca{
  text-align: center;
  color: #7e7e7e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 20px 0 40px 0;
}

.marcas{
  display: flex;
  padding: 0 90px 0 90px;
  align-items: center;
  justify-content: space-around;
}

.topFeatures{
  margin-top: 20%;
}

.titulo {
  display: block;
  text-align: center;
  padding-bottom: 40px;
}

.titulo h3 {
  font-size: 55px;
  color: #025157;
}

.titulo p {
  font-family: Arial, Helvetica, sans-serif;
}

.container-imagenes {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.item-container1 {
  color: white;
  width: auto;
  height: auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.item-container1 img {
  width: 383px;
  height: 257px;
  border-radius: 25px;
  padding-bottom: 30px;
}

.item-container1 h2 a {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.item-container1 p {
  color: #4a4a4a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

.tools h3 {
  margin-top: 20%;
  display: block;
  text-align: center;
  padding-bottom: 40px;
  font-size: 35px;
  color: #025157;
}

.container-tarjetas{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.tarjeta{
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-basis: 25%;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
}

.tarjeta > img {
  width: 38px;
  padding-bottom: 10px;
}

.tarjeta > h5{
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  padding-bottom: 10px;
}

.tarjeta > p{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #7e7e7e;
  text-align: center;
}

/* Footer */

.item5 {
  grid-area: footer;
  padding: 40px;
  display: flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header '
  'main main aside aside'
  'content content content content'
  'footer footer footer footer '
  ;
  gap: 10px;
  background-color: cornflowerblue;
  padding: 10px;
}